.section__testimonials {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2.5rem;
  max-width: 90%;
  margin: 5rem auto;

  @media only screen and (min-width: 62.5em) {
    & {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      max-width: 110rem;
      margin: 15rem auto;
      padding: 1rem;
    }
  }
}
